<h1>Edit: <%= @book.name %></h1>

<%= form_tag "/books/#{@book.id}", method: :patch do %>
  <%= text_field_tag :name, "#{@book.name}" %>
  <%= text_field_tag :author, "#{@book.author}" %>
  <%= text_field_tag :price, "#{@book.price}" %>
  <%= submit_tag "Save edit" %>
<% end %>