<h1>Signup</h1>

<%= form_tag "/users", method: :post do %>
  <%= text_field_tag :name, "Name" %>
  <%= text_field_tag :email, "Email" %>
  password: <%= password_field_tag :password %>
  password confirmation: <%= password_field_tag :password_confirmation %>
  <%= submit_tag "Signup" %>
<% end %>